<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title><%= post.titre %></title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <link href="css/retouchStyles.css" rel="stylesheet" />
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="index">MonBlogger.com</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="#"><%= user %></a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="desconnect">Se deconnecter</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('./public/assets/img/post-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1><%= post.titre %></h1>
                            <h2 class="subheading"><%= post.undertitre %></h2>
                            <span class="meta">
                                Posté par 
                                <a href="#!"><%= post.pseudoPoster %></a> le
                                <%= post.date.toLocaleString('fr-FR', {
                                    weekday: 'short',
                                    day: 'numeric',
                                    month: 'short',
                                    year: '2-digit',
                                    hour: 'numeric',
                                    minute: 'numeric',
                                    second: 'numeric'
                                }) %>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <%- post.contenu %>
                        <p>
                            Placeholder text by
                            <a href="http://spaceipsum.com/">Space Ipsum</a>
                            &middot; Images by
                            <a href="https://www.flickr.com/photos/nasacommons/">NASA on The Commons</a>
                        </p>
                        <div class="interaction" data-post-id="<%= post.id %>">
                            <button class="react-button liker-button" data-post-id="<%= post.id %>" data-name-poster="<%= post.pseudoPoster %>" data-user-name="<%= user %>" data-reaction-type="liker" <%= post.userHasLiked ? 'disabled' : '' %>>
                                <p class="number liker-count"><%= (post.liker ? post.liker.split(',').length : 0) %></p><img src="images/icone/hand-thumbs-up.svg" alt="">
                            </button>
                            <button class="react-button antilike-button" data-post-id="<%= post.id %>" data-name-poster="<%= post.pseudoPoster %>"  data-user-name="<%= user %>" data-reaction-type="antilike" <%= post.userHasLiked ? 'disabled' : '' %>>
                                <p class="number antilike-count"><%= (post.antilike ? post.antilike.split(',').length : 0) %></p><img src="images/icone/hand-thumbs-down.svg" alt="">
                            </button>
                            <button class="react-button commenter-button" data-post-id="<%= post.id %>" data-name-poster="<%= post.pseudoPoster %>"  data-user-name="<%= user %>" data-reaction-type="commenter" <%= post.userHasLiked ? 'disabled' : '' %>>
                                <p class="number commenter-count"><%= (post.commentaire ? post.commentaire.split(',').length : 0) %></p><img src="images/icone/chat-right-dots.svg" alt="">
                            </button>
                            <button class="react-button view-button" data-post-id="<%= post.id %>" data-name-poster="<%= post.pseudoPoster %>"  data-user-name="<%= user %>" data-reaction-type="view" <%= post.userHasLiked ? 'disabled' : '' %>disabled>
                                <p class="number view-count"><%= (post.view ? post.view.split(',').length : 0) %></p><img src="images/icone/eye.svg" alt="">
                            </button>
                            <button class="react-button subscriber-button" data-post-id="<%= post.id %>" data-name-poster="<%= post.pseudoPoster %>"  data-user-name="<%= user %>" data-reaction-type="subscriber" <%= post.userHasLiked ? 'disabled' : '' %>>
                                <p class="number subscriber-count"><%= (post.subscriber ? post.subscriber.split(',').length : 0) %></p><img src="images/icone/pin-angle.svg" alt="">
                            </button>
                        </div>
                        <script>
                            async function react(postId, userId, namePoster, userName, reactionType) {
                                const response = await fetch('/react', {
                                    method: 'POST',
                                    headers: {
                                        'Content-Type': 'application/json'
                                    },
                                    body: JSON.stringify({ postId, userId, namePoster, userName, reactionType })
                                });
                        
                                const result = await response.json();
                                if (response.ok) {
                                    const countElement = document.querySelector(`.interaction[data-post-id="${postId}"] .${reactionType}-count`);
                                    if (countElement) {
                                        countElement.textContent = parseInt(countElement.textContent) + 1;
                                    } else {
                                        console.error(`Element with selector .interaction[data-post-id="${postId}"] .${reactionType}-count not found.`);
                                    }
                        
                                    const button = document.querySelector(`.interaction[data-post-id="${postId}"] .${reactionType}-button`);
                                    if (button) {
                                        button.disabled = true;
                                    } else {
                                        console.error(`Button with selector .interaction[data-post-id="${postId}"] .${reactionType}-button not found.`);
                                    }
                                } else {
                                    alert(result.message);
                                }
                            }
                        
                            document.querySelectorAll('.react-button').forEach(button => {
                                button.addEventListener('click', function () {
                                    const postId = this.dataset.postId;
                                    const userId = this.dataset.userId;
                                    const namePoster = this.dataset.namePoster;
                                    const userName = this.dataset.userName; 
                                    const reactionType = this.dataset.reactionType;
                                    react(postId, userId, namePoster, userName, reactionType);
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
        </article>
        <!-- Footer-->
        <footer class="border-top">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <ul class="list-inline text-center">
                            <li class="list-inline-item">
                                <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <div class="small text-center text-muted fst-italic">Copyright &copy; Blogger Fernando 2024</div>
                    </div>
                </div>
            </div>
        </footer>
        <script src="js/scripts.js"></script>
    </body>
</html>
